a {
    color:white;
}

html,body {

    /**
    background: #555a5f;
    background: -moz-radial-gradient(center, ellipse cover, #555a5f 0%, #000000 90%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#555a5f), color-stop(90%,#000000));
    background: -webkit-radial-gradient(center, ellipse cover, #555a5f 0%,#000 90%);
    background: -o-radial-gradient(center, ellipse cover, #555a5f 0%,#000000 90%);
    background: -ms-radial-gradient(center, ellipse cover, #555a5f 0%,#000000 90%);
    background: radial-gradient(center, ellipse cover, #555a5f 0%,#000000 90%);
    */

background-image: -webkit-gradient(
    linear,
        left bottom,
            left top,
                color-stop(0, rgb(0,102,204)),
                        color-stop(0.5, rgb(0,0,0)),
                            color-stop(1, rgb(0,102,204))
                            );

    background: -moz-radial-gradient(center, ellipse cover, #0066cc 0%, #000000 90%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#0066cc), color-stop(90%,#000000));
    background: -webkit-radial-gradient(center, ellipse cover, #0066cc 0%,#000 90%);
    background: -o-radial-gradient(center, ellipse cover, #0066cc 0%,#000000 90%);
    background: -ms-radial-gradient(center, ellipse cover, #0066cc 0%,#000000 90%);
    background: radial-gradient(center, ellipse cover, #0066cc 0%,#000000 90%);

    /*facebook blue?*/
    background: -moz-radial-gradient(center, ellipse cover, #032CE3 0%, #000000 90%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#032CE3), color-stop(90%,#000000));
    background: -webkit-radial-gradient(center, ellipse cover, #032CE3 0%,#000 90%);
    background: -o-radial-gradient(center, ellipse cover, #032CE3 0%,#000000 90%);
    background: -ms-radial-gradient(center, ellipse cover, #032CE3 0%,#000000 90%);
    background: radial-gradient(center, ellipse cover, #032CE3 0%,#000000 90%);
 
    /*
    background: blue;
    background: -moz-radial-gradient(center, ellipse cover, blue 0%, #000000 90%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,blue), color-stop(90%,#000000));
    background: -webkit-radial-gradient(center, ellipse cover, blue 0%,#000 90%);
    background: -o-radial-gradient(center, ellipse cover, blue 0%,#000000 90%);
    background: -ms-radial-gradient(center, ellipse cover, blue 0%,#000000 90%);
    background: radial-gradient(center, ellipse cover, blue 0%,#000000 90%);
    */
    
   
    -webkit-perspective:600px;
    font-family: 'Lato', Times, 'Times New Roman', serif;
	font-size: 36px;
	font-weight: 200;
	letter-spacing: -0.02em;
	
	color: #eee;
    padding:0px;
    margin:0px;
	
}

/****** FONT FACE -- Credit to Hakim El Hattab for this part, and the cubic bezier values ******/


@font-face {
	font-family: 'League Gothic';
	src: url('league_gothic-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

h1, h2, h3, h4 {
	margin: 0 0 20px 0;
	
	color: #eee;
	
	font-family: 'League Gothic', sans-serif;
	line-height: 0.9em;
	letter-spacing: 0.02em;
	
	text-transform: uppercase;
	text-shadow: 0px 0px 6px rgba(0,0,0,0.2);
}


/*h1 { font-size: 136px; 	}*/
h2 { font-size: 76px;	}
h3 { font-size: 56px;	}
h4 { font-size: 28px;	}

p { font-size: 18px; }

h1.inverted,
h2.inverted,
h3.inverted,
h4.inverted {
	color: #fff;
	text-shadow: 0px 0px 2px rgba(0,0,0,0.2);
}

h1 {
	text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 20px 20px rgba(0,0,0,.15);
}

.smaller {
    font-size:100px;
    text-align:center;
    z-index:1;
}

.header {
    margin-top:10px;
    position:relative;
    margin-left:auto;
    margin-right:auto;
    width:600px;
    height:30px;
}

.fmButtonHolder {
    width:95%;
    position:absolute;
    bottom:10px;
    height:60px;
    text-align:center;
    padding:0px;
    color:#111;
}

.fmButton {
    position:relative;
    display:inline-block;
    width:130px;
    border: 1px solid white;
    padding:5px;
    text-align:center;
    vertical-align:center;
    cursor:pointer;
    font-size:24px;

    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;

  -webkit-transition: all 300ms cubic-bezier(0.260, 0.860, 0.440, 0.985);
  -moz-transition: all 300ms cubic-bezier(0.260, 0.860, 0.440, 0.985);
  -ms-transition: all 300ms cubic-bezier(0.260, 0.860, 0.440, 0.985);
   -o-transition: all 300ms cubic-bezier(0.260, 0.860, 0.440, 0.985);
   transition: all 300ms cubic-bezier(0.260, 0.860, 0.440, 0.985);
}
.depressed {
    /*IE 7 AND 8 DO NOT SUPPORT BORDER RADIUS*/
    -moz-box-shadow: inset 0px 0px 10px #000000;
    -webkit-box-shadow: inset 0px 0px 10px #000000;
    -webkit-box-shadow: 0px 0px 10px #FFFFFF;
    box-shadow: 0px 0px 10px #FFFFFF;
    /*Inner elements should not cover inner shadows*/
    /*Chrome renders inset shadows incorrectly with border-radius*/
    /*IE 7 AND 8 DO NOT SUPPORT INSET SHADOWS*/
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr = '#262525', endColorstr = '#e6e1e2');
    /*INNER ELEMENTS MUST NOT BREAK THIS ELEMENTS BOUNDARIES*/
    /*Element must have a height (not auto)*/
    /*All filters must be placed together*/
    -ms-filter: "progid: DXImageTransform.Microsoft.gradient(startColorstr = '#262525', endColorstr = '#e6e1e2')";
    /*Element must have a height (not auto)*/
    /*All filters must be placed together*/
    position:relative;
    bottom:20px;
    color:#EEE;
}

.buttonGradient {
  background: #1e5799;
  background: -moz-linear-gradient(top, #1e5799 0%, #7db9e8 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1e5799), color-stop(100%,#7db9e8));
  background: -webkit-linear-gradient(top, #1e5799 0%,#7db9e8 100%);
  background: -o-linear-gradient(top, #1e5799 0%,#7db9e8 100%);
  background: -ms-linear-gradient(top, #1e5799 0%,#7db9e8 100%);
  background: linear-gradient(top, #1e5799 0%,#7db9e8 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 );
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}


.popped {
    /*IE 7 AND 8 DO NOT SUPPORT BORDER RADIUS*/
    -moz-box-shadow: inset 0px 0px 10px #000000;
    -webkit-box-shadow: 0px 0px 10px #000000;
    box-shadow: inset 0px 0px 10px #000000;

    background: #7db9e8;
    background: -moz-linear-gradient(top, #7db9e8 0%, #1e5799 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7db9e8), color-stop(100%,#1e5799));
    background: -webkit-linear-gradient(top, #7db9e8 0%,#1e5799 100%);
    background: -o-linear-gradient(top, #7db9e8 0%,#1e5799 100%);
    background: -ms-linear-gradient(top, #7db9e8 0%,#1e5799 100%);
    background: linear-gradient(top, #7db9e8 0%,#1e5799 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7db9e8', endColorstr='#1e5799',GradientType=0 );

}


.profileImage {
  -webkit-box-reflect: below -5px -webkit-gradient(linear,left top, left bottom, from(transparent), to(rgba(255,255,255,0.1))); 
  -moz-border-radius:2px;
  -webkit-border-radius:2px;
  border-radius:2px;
  position:relative;
  left:5px;
}

.profileImage2 {
    border-radius:2px;
    margin:5px;
}


.smooth,.anArrow {
   -webkit-transition: all 700ms cubic-bezier(0.260, 0.860, 0.440, 0.985);
  -moz-transition: all 700ms cubic-bezier(0.260, 0.860, 0.440, 0.985);
  -ms-transition: all 700ms cubic-bezier(0.260, 0.860, 0.440, 0.985);
   -o-transition: all 700ms cubic-bezier(0.260, 0.860, 0.440, 0.985);
   transition: all 700ms cubic-bezier(0.260, 0.860, 0.440, 0.985);
}

.popupAnchor {
    width:1px;
    height:1px;
    position:absolute;
    top:50%;
    left:50%;
    opacity:0;
}


.askAnchor {
    width:1px;
    height:1px;
    position:absolute;
    top:0%;
    left:50%;
    opacity:0;
}


.bubbleDiv {
    font-size:14px;
}

.friendQueryHolder {
    width:100%;
    position:absolute;
    top:10px;
    height:300px;
    text-align:left;
    padding:0px;
}

.friendQueryCounter {
    border: 2px solid white;
    width:160px;
    border-radius:5px;
    background:#222;
    padding:10px;
    margin-left:10px;
    display:none;
}

#friendQueryCounterPics {
    width:140px;
    max-height:200px;
    overflow:auto;
    padding:5px;
    -webkit-box-shadow: inset 0px 0px 10px #000000;
}

.fbLoginButton {
    background-image:url('fblogin.png');
    background-repeat:no-repeat;
    width:390px;
    height:66px;
}

.fbLoginButton:hover {
    background-position:0px -66px;
}

.fbLoginButton:active {
    background-position:0px -132px;
}

#closeButton, .closeButton {
    text-shadow:0 1px 0 #CCC, 0 2px 0 #C9C9C9, 0 3px 0 #BBB, 0 4px 0 #B9B9B9, 0 5px 0 #AAA, 0 6px 1px rgba(0, 0, 0, .1), 0 0 5px rgba(0, 0, 0, .1), 0 1px 3px rgba(0, 0, 0, .3), 0 3px 5px rgba(0, 0, 0, .2), 0 5px 10px rgba(0, 0, 0, .25), 0 20px 20px rgba(0, 0, 0, .15);
}

.closeButton {
    display:inline-block;
    float:right;
    position:relative;
    top:-15px;
    font-size:20px;
    cursor:pointer;
}

.loadingGif {
    width:220px;
    height:19px;
    position:absolute;
    left:-300px;
    top:-300px;
    z-index:1000;
    display:none;
}


.topNotifyBar {
    position:relative;
    top:-10px;
    min-width:200px;
    max-width:600px;
    padding:20px;

    -moz-box-shadow: inset 0px 0px 10px #000000;
    -webkit-box-shadow: inset 0px 0px 10px #000000;
    -webkit-box-shadow: 0px 0px 10px #FFFFFF;
    box-shadow: 0px 0px 10px #FFFFFF;
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr = '#262525', endColorstr = '#e6e1e2');
    -ms-filter: "progid: DXImageTransform.Microsoft.gradient(startColorstr = '#262525', endColorstr = '#e6e1e2')";

    color:#EEE;

    border: 1px solid white;
    text-align:center;
    vertical-align:center;
    cursor:pointer;
    font-size:24px;

    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
}

.countdownClockHolder {
   /*IE 7 AND 8 DO NOT SUPPORT BORDER RADIUS*/
    -moz-box-shadow: inset 0px 0px 10px #000000;
    -webkit-box-shadow: inset 0px 0px 10px #000000;
    -webkit-box-shadow: 0px 0px 10px #FFFFFF;
    box-shadow: 0px 0px 10px #FFFFFF;
    /*Inner elements should not cover inner shadows*/
    /*Chrome renders inset shadows incorrectly with border-radius*/
    /*IE 7 AND 8 DO NOT SUPPORT INSET SHADOWS*/
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr = '#262525', endColorstr = '#e6e1e2');
    /*INNER ELEMENTS MUST NOT BREAK THIS ELEMENTS BOUNDARIES*/
    /*Element must have a height (not auto)*/
    /*All filters must be placed together*/
    -ms-filter: "progid: DXImageTransform.Microsoft.gradient(startColorstr = '#262525', endColorstr = '#e6e1e2')";
    /*Element must have a height (not auto)*/
  
   -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;

    position:absolute;
    top:-2px;
    right:-2px;
    padding:5px;
    opacity:0;
   border: 1px solid white;
    text-align:center;
    vertical-align:center;
    font-size:12px;

    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;

}

.topNotifyBarHidden {
    top:-200px;
}

.screenshotCanvas {
    border: solid 2px black;
    box-shadow: 5px 5px 5px black;
}

#bottomControlHolder {
    width:98%;
    margin-left:auto;
    margin-right:auto;

    -moz-box-shadow: inset 0px 0px 10px #000000;
    -webkit-box-shadow: inset 0px 0px 10px #000000;
    -webkit-box-shadow: 0px 0px 10px #FFFFFF;
    box-shadow: 0px 0px 10px #FFFFFF;
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr = '#262525', endColorstr = '#e6e1e2');
    -ms-filter: "progid: DXImageTransform.Microsoft.gradient(startColorstr = '#262525', endColorstr = '#e6e1e2')";

    color:#EEE;

    border: 1px solid white;
    text-align:center;
    vertical-align:center;
    font-size:24px;

    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
    
    margin-bottom:30px;
    padding-top:10px;
}

#equationStringTextArea {
    width:80%;
}
.validEquation {
    border:5px solid blue;
}

.textareaWaiting {
    border:5px solid pink;
}

.textareaBadEquation {
    border:5px solid red;
}

#canvasHolder {
    margin-left:auto;
    margin-right:auto;
    position:relative;
    top:20px;
    width:90%;
    height:90%;
}

#holder-for-screenshots {
    text-align:center;
}

.controlCol {
    padding-top:10px;
}

.equationTimeout {
    display:inline-block;
    opacity:0.0;
}

.timeoutLoading {
    opacity:1;
}

