a {
    color:white;
}

html,body {

    /**
    background: #555a5f;
    background: -moz-radial-gradient(center, ellipse cover, #555a5f 0%, #000000 90%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#555a5f), color-stop(90%,#000000));
    background: -webkit-radial-gradient(center, ellipse cover, #555a5f 0%,#000 90%);
    background: -o-radial-gradient(center, ellipse cover, #555a5f 0%,#000000 90%);
    background: -ms-radial-gradient(center, ellipse cover, #555a5f 0%,#000000 90%);
    background: radial-gradient(center, ellipse cover, #555a5f 0%,#000000 90%);
    */

background-image: -webkit-gradient(
    linear,
        left bottom,
            left top,
                color-stop(0, rgb(0,102,204)),
                        color-stop(0.5, rgb(0,0,0)),
                            color-stop(1, rgb(0,102,204))
                            );

    background: -moz-radial-gradient(center, ellipse cover, #0066cc 0%, #000000 90%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#0066cc), color-stop(90%,#000000));
    background: -webkit-radial-gradient(center, ellipse cover, #0066cc 0%,#000 90%);
    background: -o-radial-gradient(center, ellipse cover, #0066cc 0%,#000000 90%);
    background: -ms-radial-gradient(center, ellipse cover, #0066cc 0%,#000000 90%);
    background: radial-gradient(center, ellipse cover, #0066cc 0%,#000000 90%);

    /*facebook blue?*/
    background: -moz-radial-gradient(center, ellipse cover, #032CE3 0%, #000000 90%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#032CE3), color-stop(90%,#000000));
    background: -webkit-radial-gradient(center, ellipse cover, #032CE3 0%,#000 90%);
    background: -o-radial-gradient(center, ellipse cover, #032CE3 0%,#000000 90%);
    background: -ms-radial-gradient(center, ellipse cover, #032CE3 0%,#000000 90%);
    background: radial-gradient(center, ellipse cover, #032CE3 0%,#000000 90%);
 
    /*
    background: blue;
    background: -moz-radial-gradient(center, ellipse cover, blue 0%, #000000 90%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,blue), color-stop(90%,#000000));
    background: -webkit-radial-gradient(center, ellipse cover, blue 0%,#000 90%);
    background: -o-radial-gradient(center, ellipse cover, blue 0%,#000000 90%);
    background: -ms-radial-gradient(center, ellipse cover, blue 0%,#000000 90%);
    background: radial-gradient(center, ellipse cover, blue 0%,#000000 90%);
    */
    
   
    -webkit-perspective:600px;
    font-family: 'Lato', Times, 'Times New Roman', serif;
	font-size: 36px;
	font-weight: 200;
	letter-spacing: -0.02em;
	
	color: #eee;
    padding:0px;
    margin:0px;
    overflow:hidden;
	
}

/****** FONT FACE -- Credit to Hakim El Hattab for this part, and the cubic bezier values ******/


@font-face {
	font-family: 'League Gothic';
	src: url('league_gothic-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

h1, h2, h3, h4 {
	margin: 0 0 20px 0;
	
	color: #eee;
	
	font-family: 'League Gothic', sans-serif;
	line-height: 0.9em;
	letter-spacing: 0.02em;
	
	text-transform: uppercase;
	text-shadow: 0px 0px 6px rgba(0,0,0,0.2);
}


h1 { font-size: 30px; 	}
h2 { font-size: 76px;	}
h3 { font-size: 56px;	}
h4 { font-size: 28px;	}

p { font-size: 18px; }

h1.inverted,
h2.inverted,
h3.inverted,
h4.inverted {
	color: #fff;
	text-shadow: 0px 0px 2px rgba(0,0,0,0.2);
}

h1 {
	text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 20px 20px rgba(0,0,0,.15);
}


.buttonGradient {
  background: #1e5799;
  background: -moz-linear-gradient(top, #1e5799 0%, #7db9e8 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1e5799), color-stop(100%,#7db9e8));
  background: -webkit-linear-gradient(top, #1e5799 0%,#7db9e8 100%);
  background: -o-linear-gradient(top, #1e5799 0%,#7db9e8 100%);
  background: -ms-linear-gradient(top, #1e5799 0%,#7db9e8 100%);
  background: linear-gradient(top, #1e5799 0%,#7db9e8 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 );
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}

.smooth,.anArrow {
   -webkit-transition: all 700ms cubic-bezier(0.260, 0.860, 0.440, 0.985);
  -moz-transition: all 700ms cubic-bezier(0.260, 0.860, 0.440, 0.985);
  -ms-transition: all 700ms cubic-bezier(0.260, 0.860, 0.440, 0.985);
   -o-transition: all 700ms cubic-bezier(0.260, 0.860, 0.440, 0.985);
   transition: all 700ms cubic-bezier(0.260, 0.860, 0.440, 0.985);
}

.loadingGif {
    width:220px;
    height:19px;
    position:absolute;
    left:-300px;
    top:-300px;
    z-index:1000;
    display:none;
}


.topNotifyBar {
    position:relative;
    top:90px;
    min-width:200px;
    max-width:600px;
    padding:20px;

    -moz-box-shadow: inset 0px 0px 10px #000000;
    -webkit-box-shadow: inset 0px 0px 10px #000000;
    -webkit-box-shadow: 0px 0px 10px #FFFFFF;
    box-shadow: 0px 0px 10px #FFFFFF;
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr = '#262525', endColorstr = '#e6e1e2');
    -ms-filter: "progid: DXImageTransform.Microsoft.gradient(startColorstr = '#262525', endColorstr = '#e6e1e2')";

    color:#EEE;

    border: 1px solid white;
    text-align:center;
    vertical-align:center;
    cursor:pointer;
    font-size:24px;

    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
}


.topNotifyBarHidden {
    top:-200px;
}

#canvasHolder {
    margin-left:auto;
    margin-right:auto;
    width:100%;
    height:100%;
}

#holder-for-screenshots {
    text-align:center;
}


.uiButton {
   border-top: 1px solid #96d1f8;
   background: #65a9d7;
   background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#65a9d7));
   background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
   background: -moz-linear-gradient(top, #3e779d, #65a9d7);
   background: -ms-linear-gradient(top, #3e779d, #65a9d7);
   background: -o-linear-gradient(top, #3e779d, #65a9d7);
   padding: 5px 10px;
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 14px;
   font-family: Georgia, serif;
   text-decoration: none;
   vertical-align: middle;
   cursor:pointer;
   position:absolute;
}
.uiButton:hover {
   border-top-color: #28597a;
   background: #28597a;
   color: #ccc;
   }
.uiButton:active {
   border-top-color: #1b435e;
   background: #1b435e;
}

.uiButtonYellow {
   border-top: 1px solid #f4ffa1;
   background: #288708;
   background: -webkit-gradient(linear, left top, left bottom, from(#e0e63c), to(#288708));
   background: -webkit-linear-gradient(top, #e0e63c, #288708);
   background: -moz-linear-gradient(top, #e0e63c, #288708);
   background: -ms-linear-gradient(top, #e0e63c, #288708);
   background: -o-linear-gradient(top, #e0e63c, #288708);
}
.uiButtonYellow:hover {
   border-top-color: #30f03d;
   background: #30f03d;
   color: #000000;
}
.uiButtonYellow:active {
   border-top-color: #5edb15;
   background: #5edb15;
}

.uiButtonPink {
   border-top: 1px solid #96d1f8;
   background: #80007c;
   background: -webkit-gradient(linear, left top, left bottom, from(#fa1ee0), to(#80007c));
   background: -webkit-linear-gradient(top, #fa1ee0, #80007c);
   background: -moz-linear-gradient(top, #fa1ee0, #80007c);
   background: -ms-linear-gradient(top, #fa1ee0, #80007c);
   background: -o-linear-gradient(top, #fa1ee0, #80007c);
}
.uiButtonPink:hover {
   border-top-color: #28597a;
   background: #28597a;
   color: #ccc;
}
.uiButtonPink:active {
   border-top-color: #1b435e;
   background: #1b435e;
}


#traceButton {
    top:60px;
    left:10px;
}

#addPolyButton {
    top:20px;
    left:10px;
}

#editPolyButton {
    top:100px;
    left:10px;
}

#clearParticlesButton {
    top:60px;
    right:10px;
    display:none;
}

#togglePathsButton {
    top:20px;
    right:10px;
    display:none;
}
 
#bombardButton {
    top:100px;right:10px;
    display:none;
}

#importExportButton {
    bottom:20px;
    right:10px;
}